In [ ]:
CREATE DATABASE lecture_2

CREATE SCHEMA person

CREATE TABLE person.person (id BIGINT PRIMARY KEY, "name" VARCHAR(128), surname VARCHAR(128) )

In [1]:
SELECT * FROM person.person

In [26]:
INSERT INTO person.person(id, name, surname)
VALUES (1, 'John', 'Smith');

INSERT INTO person.person(id, name, surname)
VALUES (3, 'Simon', 'White');

In [12]:
SELECT * 
FROM person.person
WHERE id = 4

In [13]:
CREATE TABLE person.address (id BIGINT PRIMARY KEY, street VARCHAR(128), house_number int )

In [27]:
-- SELECT * 
-- FROM person.address

INSERT INTO person.address (id, street, house_number)
SELECT 4, 'Pylimo str.', 789
-- UNION 
-- SELECT 2, 'Antakalnio str.', 45

In [44]:
SELECT *
FROM person.person AS p
CROSS JOIN person.address AS a
WHERE name IN ('Jack', 'Simon')

-- SELECT * FROM (
-- SELECT 'Jack' as name
-- UNION 
-- SELECT 'John' as name
-- ) AS T
-- JOIN person.person AS p
-- INNER JOIN person.address as a
-- ON a.id = p.id
-- ON p.name = T.name
-- WHERE name = 'John'

id,name,surname,id,street,house_number
2,Jack,Black,1,Sauletekio al.,1
3,Simon,White,1,Sauletekio al.,1
2,Jack,Black,2,Antakalnio str.,45
3,Simon,White,2,Antakalnio str.,45
2,Jack,Black,4,Pylimo str.,789
3,Simon,White,4,Pylimo str.,789